 .button {

     display: inline-flex;
     height: 47px;
     width: max-content;
     align-items: center;
     justify-content: center;
     border-radius: 50px;
     padding-left: 100px;
     padding-right: 100px;
     padding-top: 3px;
     padding-bottom: 3px;

 }

 .button span {
     font-family: var(--button-font);
     font-size: 1.25em;
     font-weight: bold;
 }
